<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
       <center>About Momentum  Wellness</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <center><ion-button (click)="homePage()">Main menu</ion-button></center>

      <center><ion-card-title>Our Story</ion-card-title><ion-card-content><center>
      We deliver top-of-the-range facilities to help busy professionals refresh their minds and recover their bodies. 
      Our mission is to help people relax, relieve their tension and de-stress. 
      We aim to provide you with the most satisfactory experience in a clean and relaxed environment to help 
      you embrace your ideas, expand your creativity and to help you be your very best.
    </center></ion-card-content>

      <ion-card-title>Want to try a new Workout?</ion-card-title>
      <ion-card-content><center>
        We give a vast range of workouts that can inprove you everyday!
        Your workout is saved back at the Main Menu if you forget it!
      </center></ion-card-content>

      <ion-card-title>Your Wellbeing</ion-card-title>
      <ion-card-content><center>
        Not feeling yourself?
        Log in your daily sleep schedule, energy,body levels and how your mental health is doing.
        Your wellness log is saved back at the Main Menu if you forget it!
      </center></ion-card-content>
    </center></ion-card-header>
  
    
  </ion-card>
  
</ion-content>
